<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Add student</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="char" name="name" placeholder="Name" required><br>
            <input type="integer" name="roll no" placeholder="Rollno" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <button type="submit">Submit</button>
        </form>
        <h2>Student List</h2>
        <ul>
            {% for student in students %}
            <li>{{student.name}}
                -{{student.rollno}}-
                {{student.email}}</li>
            {% empty %}
            <li>No students yet.</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>

